<section id="about-us">
        <div class="container">
			<div class="center wow fadeInDown">
				<h2>Eventos Deportivos</h2>
			</div>
			<div id="about-slider">
				<div id="carousel-slider" class="carousel slide" data-ride="carousel">
				  	<ol class="carousel-indicators visible-xs">
					    <li data-target="#carousel-slider" data-slide-to="0" class="active"></li>
					    <li data-target="#carousel-slider" data-slide-to="1"></li>
					    <li data-target="#carousel-slider" data-slide-to="2"></li>
				  	</ol>
					<div class="carousel-inner">
						<div class="item active">
							<img src="./public/assets/images/Banner Futbol En Vivo.jpg" class="img-responsive" alt=""> 
					   </div>
					   <div class="item">
							<img src="./public/assets/images/Banner Futbol En Vivo.jpg" class="img-responsive" alt=""> 
					   </div> 
					   <div class="item">
							<img src="./public/assets/images/Banner Futbol En Vivo.jpg" class="img-responsive" alt=""> 
					   </div> 
					</div>
					
					<a class="left carousel-control hidden-xs" href="#carousel-slider" data-slide="prev">
						<i class="fa fa-angle-left"></i> 
					</a>	
					<a class=" right carousel-control hidden-xs"href="#carousel-slider" data-slide="next">
						<i class="fa fa-angle-right"></i> 
					</a>
				</div> <!--/#carousel-slider-->
			</div><!--/#about-slider-->
			
			
			
			<!-- our-team -->
			<div class="team">
				<div class="row clearfix">
					<div class="col-md-5 col-sm-6">	
						<div class="single-profile-top wow fadeInDown" data-wow-duration="1000ms" data-wow-delay="300ms">
							<div class="media">
								<div class="pull-left">
									<a href="#"><img class="media-object" src="./public/assets/images/TEMP-OCT25-2002.jpg" alt=""></a>
								</div>
								<div class="media-body">
									<h4>Ciclón perdió ante Universitario por la cuenta de 0 – 2</h4>
									<p>Universitario de Sucre venció a Ciclón, en el estadio IV Centenario, por la cuenta de 0 – 2, la tarde de este domingo, en cumplimiento de la fecha número doce del certamen Apertura.</p>
								</div>
							</div><!--/.media -->
						</div>
					</div><!--/.col-lg-4 -->
					
					
					<div class="col-md-5 col-sm-6 col-md-offset-2">	
						<div class="single-profile-top wow fadeInDown" data-wow-duration="1000ms" data-wow-delay="300ms">
							<div class="media">
								<div class="pull-left">
									<a href="#"><img class="media-object" src="./public/assets/images/TEMP-OCT25-2004.jpg" alt=""></a>
								</div>
								<div class="media-body">
									<h4>Blooming se impuso a The Strongest.</h4>
									<p>Blooming se impuso a The Strongest por la cuenta de un gol a cero en el cotejo disputado la noche de este domingo en Santa Cruz, correspondiente al inicio de la segunda rueda del torneo Apertura de la Liga.</p>
								</div>
							</div><!--/.media -->
							
						</div>
					</div><!--/.col-lg-4 -->					
				</div> <!--/.row -->
				<div class="row team-bar">
					<div class="first-one-arrow hidden-xs">
						<hr>
					</div>
					<div class="first-arrow hidden-xs">
						<hr> <i class="fa fa-angle-up"></i>
					</div>
					<div class="second-arrow hidden-xs">
						<hr> <i class="fa fa-angle-down"></i>
					</div>
					<div class="third-arrow hidden-xs">
						<hr> <i class="fa fa-angle-up"></i>
					</div>
					<div class="fourth-arrow hidden-xs">
						<hr> <i class="fa fa-angle-down"></i>
					</div>
				</div> <!--skill_border-->       

				<div class="row clearfix">   
					<div class="col-md-4 col-sm-6 col-md-offset-2">	
						<div class="single-profile-bottom wow fadeInUp" data-wow-duration="1000ms" data-wow-delay="600ms">
							<div class="media">
								<div class="pull-left">
									<a href="#"><img class="media-object" src="./public/assets/images/1.jpg" alt=""></a>
								</div>

								<div class="media-body">
									<h4>La Católica cumple y mantiene prendida la lucha por título</h4>
								</div>
							</div>
							<p>Los cruzados derrotaron por 2-0 a un complejo Palestino y se mantienen a dos puntos de Colo Colo. Eso sí, lamentaron una nueva lesión de González.Los cruzados llegaban al duelo ante los árabes presionados por la victoria de Colo Colo. Para seguir dando pelea, el equipo de Mario Salas no podía volver a fallar, como la semana pasada.La visita siguió intentando pero no pudo. Al frente, la Católica se encargaba de administrar la ventaja hasta que terminó el partido. La victoria permitió al cuadro universitario llegar a 22 puntos y mantenerse a dos de Colo Colo. Por ahora los de Salas van segundos en la lucha del Apertura, a la espera del choque de este lunes entre la Universidad de Concepción y Audax Italiano. </p>
						</div>
					</div>
					<div class="col-md-4 col-sm-6 col-md-offset-2">
						<div class="single-profile-bottom wow fadeInUp" data-wow-duration="1000ms" data-wow-delay="600ms">
							<div class="media">
								<div class="pull-left">
									<a href="#"><img class="media-object" src="./public/assets/images/3D-freekick1.jpg" alt=""></a>
								</div>
								<br>
								<h4>Te cuento sobre el juego de Partido de Futbol 3D</h4>
							<p>De esto se tratan los juegos de futbol: De vivir la emoción del deporte máximo en nuestros corazones, con una experiencia de juego impresionante. Y si nos quedamos en casa, a través de la compu podemos también recrear la aventura del juego de futbol, en 3D para practicar nuestra velocidad de respuesta y nuestras estrategias futboleras. </p>
						</div>
					</div>
				</div>	<!--/.row-->
			</div><!--section-->
		</div><!--/.container-->
    </section><!--/about-us-->
	
    <section id="bottom">
        <div class="container wow fadeInDown" data-wow-duration="1000ms" data-wow-delay="600ms">
            <div class="row">
                <div class="col-md-3 col-sm-6">
                    <div class="widget">
                        <h3>Company</h3>
                        <ul>
                            <li><a href="#">About us</a></li>
                            <li><a href="#">We are hiring</a></li>
                            <li><a href="#">Meet the team</a></li>
                            <li><a href="#">Copyright</a></li>
                            <li><a href="#">Terms of use</a></li>
                            <li><a href="#">Privacy policy</a></li>
                            <li><a href="#">Contact us</a></li>
                        </ul>
                    </div>    
                </div><!--/.col-md-3-->

                <div class="col-md-3 col-sm-6">
                    <div class="widget">
                        <h3>Support</h3>
                        <ul>
                            <li><a href="#">Faq</a></li>
                            <li><a href="#">Blog</a></li>
                            <li><a href="#">Forum</a></li>
                            <li><a href="#">Documentation</a></li>
                            <li><a href="#">Refund policy</a></li>
                            <li><a href="#">Ticket system</a></li>
                            <li><a href="#">Billing system</a></li>
                        </ul>
                    </div>    
                </div><!--/.col-md-3-->

                <div class="col-md-3 col-sm-6">
                    <div class="widget">
                        <h3>Developers</h3>
                        <ul>
                            <li><a href="#">Web Development</a></li>
                            <li><a href="#">SEO Marketing</a></li>
                            <li><a href="#">Theme</a></li>
                            <li><a href="#">Development</a></li>
                            <li><a href="#">Email Marketing</a></li>
                            <li><a href="#">Plugin Development</a></li>
                            <li><a href="#">Article Writing</a></li>
                        </ul>
                    </div>    
                </div><!--/.col-md-3-->

                <div class="col-md-3 col-sm-6">
                    <div class="widget">
                        <h3>Our Partners</h3>
                        <ul>
                            <li><a href="#">Adipisicing Elit</a></li>
                            <li><a href="#">Eiusmod</a></li>
                            <li><a href="#">Tempor</a></li>
                            <li><a href="#">Veniam</a></li>
                            <li><a href="#">Exercitation</a></li>
                            <li><a href="#">Ullamco</a></li>
                            <li><a href="#">Laboris</a></li>
                        </ul>
                    </div>    
                </div><!--/.col-md-3-->
            </div>
        </div>
    </section><!--/#bottom-->