<b><h4 class="center">Nuevo Evento</h4></b>
  <form class="form-horizontal" ng-submit="saveEvento(item)">
          <div class="form-group" >
            <label for="titulo" class="col-sm-2 control-label">Titulo</label>
            <div class="col-sm-4">
              <input type="text" ng-model="item.titulo" class="form-control"  placeholder="Titulo del evento">
            </div>
          </div>
          <div class="form-group" >
            <label for="estado" class="col-sm-2 control-label">Estado</label>
            <div class="col-sm-4">
              <input type="number" ng-model="item.estado" class="form-control"  placeholder="estado">
            </div>
          </div>
          <div class="form-group" >
            <label for="fecha" class="col-sm-2 control-label">Fecha</label>
            <div class="col-sm-4">
              <input type="date" ng-model="item.fecha" class="form-control" min="2013-11-15" max="2015-12-12" placeholder="Fecha de evento">
            </div>
          </div>
          <!-- contenido -->
          <div class="form-group" >
            <label for="fecha" class="col-sm-2 control-label">Contenido</label>
            <div class="col-sm-4">
              <textarea ng-model="item.contenido" class="form-control"  placeholder="Contenido">
              </textarea>
            </div>
          </div>
          
          <div class="form-group">
            <label for="fecha" class="col-sm-2 control-label">Imagen</label>
              <div class="col-sm-4">
                <input type="text" ng-model="name" /><br>
                <input type="file" name="file" uploader-model="file" /> <br>  
              </div>
          </div>

          <div class="form-group" >
            <div class="col-sm-4">
              <button type="submit" class="btn btn-primary" >Registrar</button>
            </div>
          </div>
      </form>