<br />    <br />    <br />    
					<h2>Misión</h2>
					<p class="lead">
					Somos un equipo de professionales enfocados a incentivar el deporte de nuestra niñez, juventud, y adulto para mejorar el bienestar fisico cumpliendo reglas y normativas internacionales siendo asi le mejor entidad deportiva en nuestro querido pais Bolivia.

				
					<div class="center wow fadeInDown">
					<h2>Visión</h2>
					<p class="lead">
						Ser el principal referente sobre una entidad organizadora de juegos deportivos y competencias sanas con todo tipo de deportes.
					</p>
				</div>
			