<div class="container">
	<div class="row">
       <div id='datetimepicker1' class="input-append date">
        <span class="add-on">
        <input data-format ="yyyy-MM-dd" type="text" id="campo"/>
          <i data-time-icon="icon-time" date-date-icon="icon-calendar">x</i>
        </span>
      </div>
      <script type="text/javascript">
              $(function() {
                $('#datetimepicker1').datetimepicker({
                pickTime:false
                });
              });
            </script>
	</div>
</div>